<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head">
    <meta charset=UTF-8>
    <link rel="stylesheet" th:href="@{/general/css/main.css}">
</head>

<body th:fragment="body">
<header th:fragment="header">
    <nav class="navbar">
        <h1 class="logo-header">
            <a th:href="@{/}" th:text="'(RVTT)'"></a>|
        </h1>
        <a th:href="'#'" th:text="'Latest Reviews'"></a> |
        <a th:href="@{/center/add}" th:text="'Submit Center'"></a>
    </nav>
</header>
<div th:fragment="messages" class="message">
    <!--/*@thymesVar id="errs" type="java.util.Set<String>"*/-->
    <div th:if="${errs?.size() > 0}">
        <div th:each="err: ${errs}">
            <span th:text="${err}"></span>
        </div>
    </div>
</div>
</body>
</html>
