header {
    background-color: #678d58;
}

body {
    width: 80%;
    margin: 0 10%;
    background-color: #fceee9;
}

a {
    text-decoration: none;
}

.logo-header {
    padding: 10px;
    display: inline;
}

.left-nav {
    width: 80%;
    display: inline-block;
}

.right-nav {
    text-align: right;
    display: inline-block;
    width: 19%;
}

.rating.plus:before {
    content: "➕";
}

.rating.minus:before {
    content: "➖";
}

.rating.green {
    color: green;
}

.rating.red {
    color: red;
}
