header {
    background-color: #08bec3;
    /*height:50px;*/
}

.navbar a {
    color: #005681;
    background-color: #eafffb;
    border-radius: 8px;
    padding: 0 5px;
}

body {
    width: 80%;
    margin: 0 10%;
    background-color: #eafffb;
    font-family: Verdana, Geneva, sans-serif;
}

a {
    text-decoration: none;
}

.logo-header {
    padding: 10px;
    display: inline;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.left-nav {
}

.right-nav {
    padding-right: 1%;
}

.rating.plus:before {
    content: "➕";
}

.rating.minus:before {
    content: "➖";
}

.rating.green {
    color: green;
}

.rating.red {
    color: red;
}
