header {
    background-color: #678d58;
}

body {
    width: 80%;
    margin: 0 10%;
    background-color: #fceee9;
}

.logo-header {
    padding: 10px;
    display: inline;
}

.left-nav {
    width: 80%;
    display: inline-block;
}

.right-nav {
    text-align: right;
    display: inline-block;
    width: 19%;
}
