<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!--/*@thymesVar id="title" type="java.lang.String"*/-->
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/center/css/center-list.css}">
    <th:block th:insert="views/general/layout :: head"></th:block>
</head>

<body>
<!--/*@thymesVar id="centers" type="java.util.List<com.reviewtrungtam.webapp.center.entity.Center>"*/-->
<div class="main-container">
    <div th:replace="views/general/layout :: header"></div>
    <div th:replace="views/general/layout :: messages"></div>
    <!--/*@thymesVar id="currentUrl" type="java.lang.String"*/-->
    <!--/*@thymesVar id="page" type="java.lang.Integer"*/-->
    <!--/*@thymesVar id="limit" type="java.lang.Integer"*/-->
    <!--/*@thymesVar id="total" type="java.lang.Integer"*/-->
    <div th:replace="views/center/fragments/center-list :: centerList(${centers}, ${currentUrl}, ${page}, ${limit}, ${total})"></div>
</div>
</body>
</html>
