<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Submit center'"></title>
    <link rel="stylesheet" th:href="@{/center/css/center-edit.css}">
    <th:block th:insert="views/general/layout :: head"></th:block>
</head>

<body>
<div class="main-container">
    <div th:replace="views/general/layout :: header"></div>
    <div th:replace="views/general/layout :: messages"></div>
    <div class="form">
        <form accept-charset="UTF-8" th:action="@{/center/add}" method="POST" enctype="multipart/form-data">
            <h2>Add new center</h2>
            <fieldset>
                <legend th:text="'Center Detail'"></legend>
                <table>
                    <tr>
                        <td><span th:text="'Name'"></span></td>
                        <td><input type="text" name="name"></td>
                    </tr>
                    <tr>
                        <td><span th:text="'URL'"></span></td>
                        <td><input type="text" name="url"></td>
                    </tr>
                    <tr>
                        <td><span th:text="'Facebook'"></span></td>
                        <td><input type="text" name="facebook"></td>
                    </tr>
                    <tr>
                        <td><span th:text="'Youtube'"></span></td>
                        <td><input type="text" name="youtube"></td>
                    </tr>
                    <tr>
                        <td><span th:text="'Phone'"></span></td>
                        <td><input type="text" name="phone"></td>
                    </tr>
                    <tr>
                        <td><span th:text="'Owner'"></span></td>
                        <td><input type="text" name="owner"></td>
                    </tr>
                    <tr>
                        <td><span th:text="'Address'"></span></td>
                        <td><input type="text" name="address"></td>
                    </tr>
                    <tr>
                        <td><span th:text="'Logo'"></span></td>
                        <td><input type="file" name="logo-image"></td>
                    </tr>
                    <tr>
                        <td>
                            <button th:text="'Submit'"></button>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>
