<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="center" type="com.reviewtrungtam.webapp.center.entity.Center"*/-->
<!--/*@thymesVar id="review" type="com.reviewtrungtam.webapp.review.entity.Review"*/-->
<div class="form" th:fragment="reviewForm(center)" th:if="${center != null}">
    <form accept-charset="UTF-8" th:action="@{/center/review}" method="POST" enctype="multipart/form-data">
        <input type="hidden" readonly name="center-id" th:value="${center.id}">
        <fieldset>
            <legend th:text="'Review'"></legend>
            <table>
                <tr>
                    <td><span th:text="'Name'"></span></td>
                    <td><input type="text" name="authorName" th:placeholder="'Anonymous'"></td>
                </tr>
                <tr>
                    <td><span th:text="'Your role'"></span></td>
                    <td>
                        <select name="authorRole">
                            <option selected th:value="${T(com.reviewtrungtam.webapp.review.config.Role).NOT_SPECIFIC}"
                                    th:text="'Not specified'"></option>
                            <option th:value="${T(com.reviewtrungtam.webapp.review.config.Role).STUDENT}"
                                    th:text="'Student'"></option>
                            <option th:value="${T(com.reviewtrungtam.webapp.review.config.Role).EMPLOYEE}"
                                    th:text="'Employee'"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><span th:text="'Comment'"></span></td>
                    <td><textarea name="comment" th:placeholder="'Please write your review'"
                                  required cols="30" rows="10"></textarea></td>
                </tr>
                <tr>
                    <td><span th:text="'Rating'"></span></td>
                    <td>
                        <select name="rating">
                            <option th:value="-2" th:text="'Very Bad center'"></option>
                            <option th:value="-1" th:text="'Bad center'"></option>
                            <option selected th:value="0" th:text="'No idea'"></option>
                            <option th:value="1" th:text="'Good center'"></option>
                            <option th:value="2" th:text="'Very Good center'"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><span th:text="'Anonymous?'"></span></td>
                    <td><input type="checkbox" name="anonymous"></td>
                </tr>
                <tr th:if="false">
                    <td>
                        <div class="h-captcha" data-sitekey="10000000-ffff-ffff-ffff-000000000001"></div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <button th:text="'Add review'"></button>
                    </td>
                    <td></td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>
</html>
