<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="review" type="com.reviewtrungtam.webapp.review.entity.Review"*/-->
<div class="review-detail" th:fragment="reviewDetail(review)">
    <table>
        <tbody>
        <tr>
            <td><img th:src="@{/images/anonymous.png}" th:alt="${review.authorName}" th:height="'30px'"></td>
            <td>
                <span th:text="${review.authorName}" th:unless="${#strings.isEmpty(review.authorName)}"></span>
                <span><em th:if="${#strings.isEmpty(review.authorName)}"
                          th:text="'Anonymous'"></em></span>
                <th:block th:switch="${review.authorRole}">
                    <i th:case="${T(com.reviewtrungtam.webapp.review.config.Role).STUDENT}"
                       th:text="'(Student)'">
                    </i>
                    <i th:case="${T(com.reviewtrungtam.webapp.review.config.Role).EMPLOYEE}"
                       th:text="'(Employee)'">
                    </i>
                </th:block>
                <th:block th:switch="${review.rating}">
                    <span th:case="0"></span>
                    <span th:case="-200" th:text="'👎👎👎'">
                    </span>
                    <span th:case="-100" th:text="'👎'">
                    </span>
                    <span th:case="100" th:text="'👍'">
                    </span>
                    <span th:case="200" th:text="'👍👍👍'">
                    </span>
                </th:block>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><span th:text="${review.comment}"></span></td>
        </tr>
        <tr>
            <td></td>
            <td><a th:href="@{/reply/{id}(id=${review.id})}" th:text="'Reply'"></a></td>
        </tr>
        <tr th:if="false">
            <td>
                <div th:replace="views/review/fragments/review-children :: reviewChildren(${review})"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>
